<% content_for :title do %>
  The Journey
<% end %>

<div class="container">
    
    <div class="quote text-center">
        <h3 class="thin">
            "If the mind can concieve and believe, the mind can achieve" 
            <small><em>Napoleon Hill</em></small>
        </h3>
    </div>    
    
    <div class="jumbotron">
        <h1 class="thin">My WHY</h1>
        <p>
            <!--To have an impact on the world greater than myself that touches 
            people from all backgrounds-->
            To have an ever growing circle of influence that impacts society in 
            a positive manner which is greater than the sum of its parts
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>