// Navbar

.nav.navbar-right li {
    .btn {
        color: white !important;
        /*margin-top: 5%;*/
    }
    
    .btn-danger:hover, .btn-danger:focus {
        background-color: darken(#d9534f, 20%) !important;
    }
    
    .btn-primary:hover, .btn-primary:focus {
        background-color: darken(#428bca, 20%) !important;
    }
}

.btn-primary:visited, .btn-danger:visited {
    color: white;
}

.navbar {
    .btn {
        padding: 6px 8px;
    }
}        

.user-name {
    text-align: center;
    padding-right: 10px;
    a:hover, a:focus {
        color: black !important;
        background: #3071a9;
    }
}

// Index

.thin {
    font-weight: lighter;
    small {
        font-weight: lighter;
    }
}