// Global

$link-color: darken(#428bca, 6.5%);

.header {
    margin-bottom: 20px;
    h1 {
        font-weight: lighter;
    }
}

p {
    font-size: 16px!important;
}

a {
    text-decoration: none!important;
}

// Navbar

.navbar-brand {
    font-size: 26px;
    font-weight: lighter;
}

@media (min-width: 768px) {
    .add-padding {
        padding-right: 15px;
    }
    .padding-left {
        padding-left: 15px;
    }
}

.nav {
    .btn {
        font-weight: normal!important;
    }
}

.nav.navbar-right li {
    .btn {
        color: white !important;
        /*margin-top: 5%;*/
        padding: 6px 8px;
        margin-top: ((75px - 34px) / 2);
    }
    
    .btn-danger:hover, .btn-danger:focus {
        background-color: darken(#d9534f, 20%) !important;
    }
    
    .btn-primary:hover, .btn-primary:focus {
        background-color: darken(#428bca, 20%) !important;
    }
}

.btn-primary:visited, .btn-danger:visited {
    color: white;
}  

.navbar-default .navbar-nav > li > a {
    font-weight: lighter;
    letter-spacing: 1px;
}

.user-name {
    text-align: center;
    padding-right: 5px;
    a {
        color: #777;
    }
    a:hover, a:focus {
        color: black !important;
        background: #eee!important;
    }
}

// Index

.quote {
    margin-bottom: 20px;
    h3 {
        margin-top: 0px;
    }
}

.thin {
    font-weight: lighter;
    small {
        font-weight: lighter;
    }
}

// Post

.post-btn {
    margin-bottom: 30px;
}

.post {
    .muted {
        color: lighten(#777, 30%);
    }
}

.post-contents {
    .muted {
        color: lighten(#777, 30%);
    }
}

.comments {
    .comment-author {
        color: $link-color;
    }
    .muted {
        color: lighten(#777, 30%);
    }
}

// Footer

footer {
    p {
        font-size: 12px!important;
    }
}